In [1]:
from google.colab import drive
drive.mount('/content/drive')
!ln -s /content/drive/MyDrive/PAD/PAD04/

Mounted at /content/drive

Zadanie 1 (5 pkt)


Wgraj zawartość pliku orders.csv do ramki danych.
Przyjrzyj się danym, wykorzystując poznane metody (describe, info, head) zanalizuj dane.

Następnie:



1. Zamień order_date na format daty. Upewnij się, że w rezultacie data będzie w formacie: rok-miesiąc-dzień;
2. Sprawdź ile i jakie unikalne wartości znajdują się w kolumnie T-shirt category;
3. Wyczyść kolumnę tshirt_category normalizując nazwy produktów. Upewnij się, że dla każdej kategorii funkcjonuje jedna nazwa, np. zamiast white i wh jest tylko jedna wersja white. Skorzystaj z klasy string i metody apply;
4. Rozdziel kolumnę tshirt category na 3 kolumny: tshirt_type, która będzie mówiła o tym czy jest to koszulka, bluza czy coś innego, tshirt_size, która będzie informowała o rozmiarze koszulki, i tshirt_colour, która będzie informowała o kolorze. Skorzystaj z metody apply.
5. Znajdź zamówienia złożone między 31 grudnia 2014 a 2 sierpnia 2016.

In [2]:
# 1

import pandas as pd
import numpy as np
import re

df = pd.read_csv('PAD04/orders.csv')
df['order_date'] = pd.to_datetime(df['order_date'])
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3
3,2013-12-01,10,HTS-914324-0001,914324,Wh Tshirt F,18.0,1
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1
...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3

In [3]:
# 2

unique_values = df['tshirt_category'].unique()
print(f' {unique_values}: {len(unique_values)}')

 ['White T-Shirt M' 'White T-Shirt F' 'Wh Tshirt F' 'Black T-Shirt F'
 'Hoodie' 'Black T-Shirt M' 'Tennis Shirt' 'Wh Tshirt M' 'Bl Tshirt F'
 'Bl Tshirt M']: 10

In [4]:
# 3

def name_normalization(name, replace, replace_word):
  normalized_string = []
  for i in name.split(" "):
    if i == replace:
      normalized_string.append(replace_word)
    else:
      normalized_string.append(i)
  return " ".join(normalized_string)

df.tshirt_category = df.tshirt_category.apply(lambda x: name_normalization(x, 'Wh', 'White'))
df.tshirt_category = df.tshirt_category.apply(lambda x: name_normalization(x, 'Tshirt', 'T-Shirt'))
df.tshirt_category = df.tshirt_category.apply(lambda x: name_normalization(x, 'Bl', 'Black'))
df.tshirt_category = df.tshirt_category.apply(lambda x: name_normalization(x, 'Tennis', 'T'))
df.tshirt_category.unique()

array(['White T-Shirt M', 'White T-Shirt F', 'Black T-Shirt F', 'Hoodie',
       'Black T-Shirt M', 'T Shirt'], dtype=object)

In [6]:
# 4

def tshirt_split(name, match):
  for i in name.split():
    if i in match:
      return i
  return 'unknown'

tshirt_types = ("T-Shirt", "Shirt", "Hoodie")
tshirt_colours = ("Black", "White")
tshirt_sizes = ("M", "F")

df["tshirt_type"] = df['tshirt_category'].apply(lambda x: tshirt_split(x, tshirt_types))
df["tshirt_size"] = df['tshirt_category'].apply(lambda x: tshirt_split(x, tshirt_sizes))
df["tshirt_colour"] = df['tshirt_category'].apply(lambda x: tshirt_split(x, tshirt_colours))
df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-Shirt,M,White
1,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-Shirt,M,White
2,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-Shirt,F,White
3,2013-12-01,10,HTS-914324-0001,914324,White T-Shirt F,18.0,1,T-Shirt,F,White
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-Shirt,M,White
...,...,...,...,...,...,...,...,...,...,...
26547,2016-11-19,13,HTS-n641x4-0001,n641x4,White T-Shirt M,20.0,1,T-Shirt,M,White
26548,2016-08-02,4,HTS-q0nm12-0001,q0nm12,White T-Shirt M,20.0,1,T-Shirt,M,White
26549,2017-03-09,6,HTS-sby0iz-0001,sby0iz,White T-Shirt M,20.0,1,T-Shirt,M,White
26550,2016-10-04,11,HTS-uz70x4-0001,uz70x4,Hoodie,23.0,5,Hoodie,unknown,unknown
26551,2016-12-16,9,HTS-xnbc22-0001,xnbc22,Black T-Shirt M,19.0,3,T-Shirt,M,Black

In [7]:
# 5

df[(df['order_date']>'2014-12-31')&(df['order_date']<'2016-08-02')]

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour
4,2015-10-22,12,HTS-88ua9r-0001,88ua9r,White T-Shirt M,20.0,1,T-Shirt,M,White
5,2016-01-15,9,HTS-061311-0003,061311,Black T-Shirt F,17.5,4,T-Shirt,F,Black
12,2015-11-24,15,HTS-je57lh-0001,je57lh,Hoodie,23.0,3,Hoodie,unknown,unknown
13,2015-10-10,8,HTS-252675-0002,252675,White T-Shirt M,20.0,3,T-Shirt,M,White
15,2015-11-29,15,HTS-heb26i-0001,heb26i,Black T-Shirt F,17.5,1,T-Shirt,F,Black
...,...,...,...,...,...,...,...,...,...,...
26460,2016-07-09,15,HTS-mu1tec-0001,mu1tec,White T-Shirt F,18.0,1,T-Shirt,F,White
26496,2016-06-02,2,HTS-5b4bg6-0001,5b4bg6,Black T-Shirt F,17.5,1,T-Shirt,F,Black
26513,2016-07-05,12,HTS-bt08zd-0001,bt08zd,White T-Shirt F,18.0,1,T-Shirt,F,White
26515,2016-07-27,17,HTS-gsc3f6-0001,gsc3f6,Hoodie,23.0,1,Hoodie,unknown,unknown
26540,2016-06-08,7,HTS-6ba0i0-0001,6ba0i0,White T-Shirt M,20.0,4,T-Shirt,M,White

Zadanie 2 (4 pkt)


Wgraj plik customers.csv do ramki danych. 

Następnie:
1. Wypisz kolumny;
2. Porównaj rozmiar ramki z rozmiarem ramki w zadaniu 1;
3. Zmień nazwę kolumny customerID  na customer_id upewniając się, że dane zmiana zostanie zapisana w pamięci dzięki jednemu z argumentów metody do zmiany nazwy kolumny;
4. Połącz ramkę orders z ramką customers po kolumnie customer_id. Z której metody skorzystasz? Zostaw odpowiedź w komentarzu do zadania w kodzie (np. blok komentarzem ‘’’ ‘’’).

In [8]:
df2 = pd.read_csv('PAD04/customers.csv')

# 1

print(df2.columns)

Index(['customerID', 'gender', 'birthdate', 'user_agent', 'ip_address',
       'campaign'],
      dtype='object')

In [9]:
# 2
print(f'Orders: {df.shape}, Customers: {df2.shape}')

Orders: (26552, 10), Customers: (18766, 6)

In [10]:
# 3
df2.rename(columns={'customerID': 'customer_id'}, inplace=True)
df2

,customer_id,gender,birthdate,user_agent,ip_address,campaign
0,886900,M,1953/10/5,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,69.8.136.110,False
1,038040,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,698696,F,1983/12/1,Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKi...,95.135.70.206,False
3,sn9keh,M,1990/9/23,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6...,129.50.205.26,False
4,496907,M,1869/6/8,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,81.98.234.29,False
...,...,...,...,...,...,...
18761,m1yyx6,M,1999/8/19,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,95.142.4.155,True
18762,744375,F,1941/10/22,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,119.219.176.225,False
18763,t6pxeo,F,1950/5/10,Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...,196.178.254.85,False
18764,930049,F,1979/10/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,118.173.208.45,False
18765,950728,M,1997/9/18,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,171.178.68.155,False

In [11]:
# 4
merge_df = pd.merge(df, df2)
merge_df

,order_date,pages_visited,order_id,customer_id,tshirt_category,tshirt_price,tshirt_quantity,tshirt_type,tshirt_size,tshirt_colour,gender,birthdate,user_agent,ip_address,campaign
0,2016-09-04,9,HTS-038040-0002,038040,White T-Shirt M,20.0,1,T-Shirt,M,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
1,2014-06-04,13,HTS-038040-0001,038040,White T-Shirt F,18.0,1,T-Shirt,F,White,F,1946/12/21,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,67.74.254.174,False
2,2014-11-14,11,HTS-801797-0001,801797,White T-Shirt M,20.0,1,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
3,2015-10-22,12,HTS-801797-0002,801797,White T-Shirt M,20.0,2,T-Shirt,M,White,M,1956/7/19,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,137.155.219.158,False
4,2017-02-26,10,HTS-vft1eu-0003,vft1eu,White T-Shirt F,18.0,3,T-Shirt,F,White,F,1969/6/27,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,53.115.6.106,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25877,2016-11-02,11,HTS-762534-0001,762534,Hoodie,23.0,1,Hoodie,unknown,unknown,M,1963/8/24,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,58.3.164.178,True
25878,2016-11-16,4,HTS-hrpv38-0001,hrpv38,White T-Shirt M,20.0,3,T-Shirt,M,White,F,1951/8/15,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,118.210.235.250,True
25879,2014-07-12,16,HTS-978569-0001,978569,Hoodie,23.0,1,Hoodie,unknown,unknown,M,1986/11/19,Mozilla/5.0 (Windows NT 10.0; WOW64) AppleWebK...,112.172.97.50,False
25880,2016-08-05,11,HTS-k0batl-0001,k0batl,White T-Shirt M,20.0,2,T-Shirt,M,White,M,1959/2/6,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,174.226.65.20,False
25881,2017-03-13,11,HTS-200121-0001,200121,T Shirt,24.0,1,Shirt,unknown,unknown,F,1969/8/22,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_3...,56.182.53.24,False

Zadanie 3 (1 pkt)

Nową ramkę (połączenie orders i customers) zapisz do pliku csv, ale zapisz bez kolumny z indeksem.

In [12]:
merge_df.to_csv("orders_customers_merge.csv", index=False)